<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="communaute">
      <h2 data-cy="communauteDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.communaute.detail.title">Communaute</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ communaute.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.communaute.nom">Nom</span></dt>
        <dd>
          <span>{{ communaute.nom }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/communaute', communaute.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
