<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-nouveau-heading"
        data-cy="NouveauCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.nouveau.home.createOrEditLabel"
      >
        Create or edit a Nouveau
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipsterSampleApplicationApp.nouveau.nomComplet"
            for="field_nomComplet"
            [ngbTooltip]="'jhipsterSampleApplicationApp.nouveau.help.nomComplet' | translate"
            >Nom Complet</label
          >
          <input
            type="text"
            class="form-control"
            name="nomComplet"
            id="field_nomComplet"
            data-cy="nomComplet"
            formControlName="nomComplet"
          />
          <div *ngIf="editForm.get('nomComplet')!.invalid && (editForm.get('nomComplet')!.dirty || editForm.get('nomComplet')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomComplet')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.contact" for="field_contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.trancheAge" for="field_trancheAge"
            >Tranche Age</label
          >
          <input
            type="text"
            class="form-control"
            name="trancheAge"
            id="field_trancheAge"
            data-cy="trancheAge"
            formControlName="trancheAge"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipsterSampleApplicationApp.nouveau.situationMatrimoniale"
            for="field_situationMatrimoniale"
            >Situation Matrimoniale</label
          >
          <select
            class="form-control"
            name="situationMatrimoniale"
            formControlName="situationMatrimoniale"
            id="field_situationMatrimoniale"
            data-cy="situationMatrimoniale"
          >
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.SituationMatrimoniale.null' | translate }}</option>
            <option value="SEUL">{{ 'jhipsterSampleApplicationApp.SituationMatrimoniale.SEUL' | translate }}</option>
            <option value="FIANCE">{{ 'jhipsterSampleApplicationApp.SituationMatrimoniale.FIANCE' | translate }}</option>
            <option value="CONCUBINAGE">{{ 'jhipsterSampleApplicationApp.SituationMatrimoniale.CONCUBINAGE' | translate }}</option>
            <option value="MARIE">{{ 'jhipsterSampleApplicationApp.SituationMatrimoniale.MARIE' | translate }}</option>
            <option value="VEUF">{{ 'jhipsterSampleApplicationApp.SituationMatrimoniale.VEUF' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipsterSampleApplicationApp.nouveau.impressionsDuCulte"
            for="field_impressionsDuCulte"
            >Impressions Du Culte</label
          >
          <input
            type="text"
            class="form-control"
            name="impressionsDuCulte"
            id="field_impressionsDuCulte"
            data-cy="impressionsDuCulte"
            formControlName="impressionsDuCulte"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.sexe" for="field_sexe">Sexe</label>
          <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.Sexe.null' | translate }}</option>
            <option value="F">{{ 'jhipsterSampleApplicationApp.Sexe.F' | translate }}</option>
            <option value="M">{{ 'jhipsterSampleApplicationApp.Sexe.M' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.invitePar" for="field_invitePar"
            >Invite Par</label
          >
          <select class="form-control" name="invitePar" formControlName="invitePar" id="field_invitePar" data-cy="invitePar">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.CanalInvitation.null' | translate }}</option>
            <option value="RADIO">{{ 'jhipsterSampleApplicationApp.CanalInvitation.RADIO' | translate }}</option>
            <option value="INTERNET">{{ 'jhipsterSampleApplicationApp.CanalInvitation.INTERNET' | translate }}</option>
            <option value="FAMILLE">{{ 'jhipsterSampleApplicationApp.CanalInvitation.FAMILLE' | translate }}</option>
            <option value="AMI">{{ 'jhipsterSampleApplicationApp.CanalInvitation.AMI' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.communaute" for="field_communaute"
            >Communaute</label
          >
          <select class="form-control" id="field_communaute" data-cy="communaute" name="communaute" formControlName="communaute">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                communauteOption.id === editForm.get('communaute')!.value?.id ? editForm.get('communaute')!.value : communauteOption
              "
              *ngFor="let communauteOption of communautesSharedCollection; trackBy: trackCommunauteById"
            >
              {{ communauteOption.nom }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.ville" for="field_ville">Ville</label>
          <select class="form-control" id="field_ville" data-cy="ville" name="ville" formControlName="ville">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="villeOption.id === editForm.get('ville')!.value?.id ? editForm.get('ville')!.value : villeOption"
              *ngFor="let villeOption of villesSharedCollection; trackBy: trackVilleById"
            >
              {{ villeOption.nom }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.quartier" for="field_quartier"
            >Quartier</label
          >
          <select class="form-control" id="field_quartier" data-cy="quartier" name="quartier" formControlName="quartier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="quartierOption.id === editForm.get('quartier')!.value?.id ? editForm.get('quartier')!.value : quartierOption"
              *ngFor="let quartierOption of quartiersSharedCollection; trackBy: trackQuartierById"
            >
              {{ quartierOption.nom }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.nouveau.culte" for="field_culte">Culte</label>
          <select class="form-control" id="field_culte" data-cy="culte" name="culte" formControlName="culte">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="culteOption.id === editForm.get('culte')!.value?.id ? editForm.get('culte')!.value : culteOption"
              *ngFor="let culteOption of cultesSharedCollection; trackBy: trackCulteById"
            >
              {{ culteOption.theme }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="jhipsterSampleApplicationApp.nouveau.departement" for="field_departements">Departement</label>
          <select
            class="form-control"
            id="field_departements"
            data-cy="departement"
            multiple
            name="departements"
            formControlName="departements"
          >
            <option
              [ngValue]="getSelectedDepartement(departementOption, editForm.get('departements')!.value)"
              *ngFor="let departementOption of departementsSharedCollection; trackBy: trackDepartementById"
            >
              {{ departementOption.nom }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="jhipsterSampleApplicationApp.nouveau.frereQuiInvite" for="field_frereQuiInvites">Frere Qui Invite</label>
          <select
            class="form-control"
            id="field_frereQuiInvites"
            data-cy="frereQuiInvite"
            multiple
            name="frereQuiInvites"
            formControlName="frereQuiInvites"
          >
            <option
              [ngValue]="getSelectedFrereQuiInvite(frereQuiInviteOption, editForm.get('frereQuiInvites')!.value)"
              *ngFor="let frereQuiInviteOption of frereQuiInvitesSharedCollection; trackBy: trackFrereQuiInviteById"
            >
              {{ frereQuiInviteOption.nomComplet }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="jhipsterSampleApplicationApp.nouveau.besoin" for="field_besoins">Besoin</label>
          <select class="form-control" id="field_besoins" data-cy="besoin" multiple name="besoins" formControlName="besoins">
            <option
              [ngValue]="getSelectedBesoin(besoinOption, editForm.get('besoins')!.value)"
              *ngFor="let besoinOption of besoinsSharedCollection; trackBy: trackBesoinById"
            >
              {{ besoinOption.besoin }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="jhipsterSampleApplicationApp.nouveau.decision" for="field_decisions">Decision</label>
          <select class="form-control" id="field_decisions" data-cy="decision" multiple name="decisions" formControlName="decisions">
            <option
              [ngValue]="getSelectedDecision(decisionOption, editForm.get('decisions')!.value)"
              *ngFor="let decisionOption of decisionsSharedCollection; trackBy: trackDecisionById"
            >
              {{ decisionOption.decision }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
