<div>
  <h2 id="page-heading" data-cy="DepartementHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.departement.home.title">Departements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.departement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-departement"
        [routerLink]="['/departement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="jhipsterSampleApplicationApp.departement.home.createLabel">
          Create a new Departement
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'jhipsterSampleApplicationApp.departement.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="departements?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.departement.home.notFound">No departements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="departements && departements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.nom">Nom</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shortName">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.shortName">Short Name</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomResponsable">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.nomResponsable">Nom Responsable</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="videoIntroduction">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.videoIntroduction">Video Introduction</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contactResponsable">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.contactResponsable">Contact Responsable</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.description">Description</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="couleur1">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.couleur1">Couleur 1</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="couleur2">
            <span jhiTranslate="jhipsterSampleApplicationApp.departement.couleur2">Couleur 2</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departement of departements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/departement', departement.id, 'view']">{{ departement.id }}</a>
          </td>
          <td>{{ departement.nom }}</td>
          <td>{{ departement.shortName }}</td>
          <td>{{ departement.nomResponsable }}</td>
          <td>
            <a
              *ngIf="departement.videoIntroduction"
              (click)="openFile(departement.videoIntroduction, departement.videoIntroductionContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="departement.videoIntroduction"
              >{{ departement.videoIntroductionContentType }}, {{ byteSize(departement.videoIntroduction) }}</span
            >
          </td>
          <td>{{ departement.contactResponsable }}</td>
          <td>{{ departement.description }}</td>
          <td>{{ departement.couleur1 }}</td>
          <td>{{ departement.couleur2 }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/departement', departement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/departement', departement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(departement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="departements && departements.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
